# Archivo .editorconfig
# Configuración global para mantener la consistencia del código.
# http://editorconfig.org

root = true

# 1. Configuración Global para todos los archivos (*)
[*]
charset = utf-8         
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# 2. Archivos Astro, HTML y Markdown
[*.{astro,html,md,mdx}]
indent_style = space
indent_size = 2

# 3. Archivos JavaScript, TypeScript y JSON
[*.{js,jsx,ts,tsx,json,mjs,cjs}]
indent_style = space
indent_size = 2

# 4. Archivos de Estilos (CSS, SCSS, etc.)
[*.{css,scss,less}]
indent_style = space
indent_size = 2

# 5. Archivos de configuración (YAML, etc.)
[*.{yml,yaml}]
indent_style = space
indent_size = 2
