#project-content h2 {
    font-size: 22px;
    font-family: var(--font-primary);
    font-weight: bold;
    letter-spacing: -0.025em;
}

#project-content p {
    font-size: var(--font-body-2);
    line-height: var(--line-height-b1);
    margin: 0 0 30px 0;
}

#project-content hr {
    width: 100px;
    color: var(--color-body);
}

#project-content ul, #project-content ol {
    padding: 0 0 5px 4rem;

    @media (max-width: 768px) {
        padding-left: 1.5rem;
    }
}

#project-content li , #project-content li p {
    margin-bottom: 1rem;
}

pre {
    padding: 2rem 1rem;
    background-color: var(--color-body);
    border-radius: 1rem;
}

#project-content a {
    color: var(--color-rose);
}

#project-content table {
    width: 100%;
    border: 1px solid var(--color-body);
}

#project-content table tr {
    border: 1px solid var(--color-body);
}

#project-content table th {
    padding: 1rem;
    background-color: #ffd3db;
    color: var(--color-text-dark);
    text-align: center;
    text-decoration: underline;
}

#project-content table td {
    padding: 1rem;
    border: 1px solid var(--color-body);
}

.active-dark-mode #project-content table {
    width: 100%;
    border: 1px solid var(--dark-body-text);
}

.active-dark-mode #project-content table tr {
    border: 1px solid var(--dark-body-text);
}

.active-dark-mode #project-content table th {
    padding: 1rem;
    background-color: #ffd3db;
    color: var(--color-text-dark);
    text-align: center;
    text-decoration: underline;
}

.active-dark-mode #project-content table td {
    padding: 1rem;
    border: 1px solid var(--dark-body-text);
    color: var(--dark-body-text);
}

.banner-cta {
    position: relative;
    top: 85px;
    left: 20px;
}

#project-content blockquote {
    background: var(--gradient-accent);
    padding: 50px;
    border-radius: 30px;
    border-right: 2px solid rgba(80, 92, 253, 0);
}

#project-content blockquote p {
    margin-bottom: 0;
    font-weight: 600;
}

h2 {
  font-size: 22px;
}

#project-content h3 {
    font-size: 20px;
    font-family: var(--font-primary);
    font-weight: bold;
    letter-spacing: -0.025em;
}

#project-content p {
    font-size: var(--font-body-2);
    line-height: var(--line-height-b1);
    margin: 0 0 30px 0;
}

#project-content hr {
    width: 100px;
    color: var(--color-body);
}

#project-content ul, #project-content ol {
    padding: 0 0 5px 4rem;

    @media (max-width: 768px) {
        padding-left: 1.5rem;
    }
}

#project-content li , #project-content li p {
    margin-bottom: 1rem;
}

pre {
    padding: 2rem 1rem;
    background-color: var(--color-body);
    border-radius: 1rem;
}

#project-content a {
    color: var(--color-rose);
}

#project-content table {
    width: 100%;
    border: 1px solid var(--color-body);
}

#project-content table tr {
    border: 1px solid var(--color-body);
}

#project-content table th {
    padding: 1rem;
    background-color: #ffd3db;
    color: var(--color-text-dark);
    text-align: center;
    text-decoration: underline;
}

#project-content table td {
    padding: 1rem;
    border: 1px solid var(--color-body);
}

.active-dark-mode #project-content table {
    width: 100%;
    border: 1px solid var(--dark-body-text);
}

.active-dark-mode #project-content table tr {
    border: 1px solid var(--dark-body-text);
}

.active-dark-mode #project-content table th {
    padding: 1rem;
    background-color: #ffd3db;
    color: var(--color-text-dark);
    text-align: center;
    text-decoration: underline;
}

.active-dark-mode #project-content table td {
    padding: 1rem;
    border: 1px solid var(--dark-body-text);
    color: var(--dark-body-text);
}

.banner-cta {
    position: relative;
    top: 85px;
    left: 20px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}
